@import '../../style/mixin.scss';

.component-head {
    width: 100%;
    height: $headHeight;
    @include flex-row();
    @include flex-between-center();
    padding: 0 20px;
    .logo,
    .user {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: white;
        @include flex-row();
        @include flex-center();
        cursor: pointer;
    }
    .left {
        cursor: pointer;
        @include flex-row();
        @include flex-center();
        span {
            margin-left: 10px;
            font-weight: 500;
            font-size: 16px;
        }
    }
    .right {
        @include flex-row();
        @include flex-center();
        span {
            margin-left: 10px;
            cursor: pointer;
        }
    }
}
