@import '../../style/mixin.scss';

.component-head {
    width: 100%;
    height: 80px;
    @include flex-row();
    @include flex-between-center();
    padding: 0 20px;
    .logo,
    .user {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: white;
        @include flex-row();
        @include flex-center();
    }
    .right {
        @include flex-row();
    }
}
