@import '../../style/mixin.scss';

.component-navbar {
    position: relative;
    width: $navbarWidth;
    height: 100%;
    overflow-y: auto;
    @include flex-column();
    a {
        display: block;
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        text-decoration: none;
        border-radius: 8px;
    }
    .active {
        font-weight: 500;
    }
    .setting {
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        cursor: pointer;
        span {
            margin-right: 5px;
        }
        .sets {
            @include flex-row();
        }
    }
}
.component-setting {
    @include flex-column();
    .ant-btn {
        margin-top: 10px;
    }
}
