@import '../../style/mixin.scss';

.component-navbar {
    width: $navbarWidth;
    height: 100%;
    overflow-y: auto;
    @include flex-column();
    a {
        display: block;
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        text-decoration: none;
        border-radius: 8px;
    }
    .active {
        font-weight: 500;
    }
}
